{%- comment -%}
  Include vars:
  scrolly_nav
{%- endcomment -%}

<!-- Header -->
<div id="header" style="width:200px;">
  <div class="top" style="width:200px;">
    {%- include logo.html -%}
    {%- include nav.html section_items=include.scrolly_nav -%}
  </div>
  <div class="bottom">
    {%- include social_icons.html -%}
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"> 


  $( document ).ready(function() {
      $('#intro-link').hide();
      $('#cognition-learning-and-robotics-link').hide();
      $('#cognition-learning-and-robotics-a-href-https-github-com-colors-lab-i-class-fab-fa-github-i-a-link').hide();
      
      $('#cognition-learning-and-robotics-nbsp-a-style-text-decoration-none-href-https-github-com-colors-lab-i-class-fab-fa-github-i-a-link').hide();
      
      
  });
  
  </script>